---
- name: Remove file pm
  ansible.builtin.file:
    path: /tmp/os.info
    state: absent

- name: Run script pm
  ansible.builtin.script: scriptpm.sh

- name: Cat file
  ansible.builtin.command: "cat /tmp/os.info"
  register: pm
  changed_when: true

- name: Debug
  ansible.builtin.debug:
    var: pm.stdout_lines
